$color-primary: #ffbe0b;
$color-secondary: #fb5607;
$color-tertiary: #ff006e;
$color-quaternary: #8338ec;
$color-quinary: #3a86ff;

$colors: (
  "primary": $color-primary,
  "secondary": $color-secondary,
  "tertiary": $color-tertiary,
  "quaternary": $color-quaternary,
  "quinary": $color-quinary,
);

@mixin gradient($from, $to) {
    background-image: linear-gradient($from, $to);
}

@function get-color($color) {
  @return map-get($colors, $color);
}

button {
  margin: 50px;
  @include gradient(get-color("primary"), get-color("secondary"));
  &:hover {
    background-image: none;
    background-color: get-color("tertiary");
  }
  &:active {
    background-color: get-color("quinary");
  }
}

a {
  margin: 50px;
  color: get-color("primary");
  text-decoration: none;
  &:hover {
    color: get-color("secondary");
  }
  &:active {
    background-color: get-color("tertiary");
  }
  // &:visited {
  //   color: get-color("quinary");
  // }
}

